---
layout: page
title: "Clases"
permalink: /clases/
phony: true
excerpt: '' # work around a bug
---

<h2> Unidades teóricas: </h2>

Presentaciones teóricas utilizadas:
<ul>
    <li><a href="./ppts/01-ectrans.pdf"   >Ecuación de transporte      </a></li>
    <li><a href="./ppts/03-gaussianos.pdf">Modelos Gaussianos          </a></li>
    <li><a href="./ppts/02-meteo.pdf"     >Meteorología de capa límite </a></li>
    <li><a href="./ppts/04-aermod.pdf"    >Fundamentos de Aermod       </a></li>
</ul>


<h2> Unidades prácticas: </h2>

Tutoriales para seguir durante las clases prácticas:

<ul>
  {% assign lectures = site['clases'] | sort: 'clase' %}
  {% for lecture in lectures %}
    {% if lecture.ready %}
      <li>
        <strong>{{ lecture.clase }}</strong>:
          <a href="{{ site.baseurl }}{{ lecture.url }}">{{ lecture.title }}</a>
          {% if lecture.details %}
            <br>
            ({{ lecture.details }})
          {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>


