---
layout: page
title: "Clases"
permalink: /clases/
phony: true
excerpt: '' # work around a bug
---

## Unidades Teóricas:

- **Unidad 1**: Introducción y Nociones de meteorología de capa límite.
- **Unidad 2**: Modelos gaussianos y Fundamentos de AERMOD.
- **Unidad 3**: Emisiones.

## Unidades prácticas:
- **Unidad 1**: Preparación de datos y pre-procesamiento.
- **Unidad 2**: Ejecución de AERMOD.
- **Unidad 3**: Post-procesamiento.  

## Cronograma

| Fecha | Hora   | Unidad                             |                          
|-------|--------|------------------------------------|                          
| 02/11 | Mañana | Introducción y Meteorología        |
|       | Tarde  | Preparación de corrida             |
| 03/11 | Mañana | Fundamentos de AERMOD              |
|       | Tarde  | Ejecucción de AERMOD               |
| 04/11 | Mañana | Emisiones: estimación y reducción. |
|       | Tarde  | Post-procesamiento                 |


## Presentaciones











{% comment %}
<ul>
  {% assign lectures = site['clases'] | sort: 'date' %}
  {% for lecture in lectures %}
    {% if lecture.phony != true %}
      <li>
        <strong>{{ lecture.date | date: '%d/%m' }}</strong>:
        {% if lecture.ready %}
          <a href="{{ site.baseurl }}{{ lecture.url }}">{{ lecture.title }}</a>
        {% elsif lecture.noclass %}
          {{ lecture.title }} [fuera de programa]
        {% else %}
          {{ lecture.title }} [coming soon]
        {% endif %}
        {% if lecture.details %}
          <br>
          ({{ lecture.details }})
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>



Los video tutoriales estarán disponible <a href="https://www.youtube.com/@ramiroespadaguerrero/playlists">en Youtube</a>
<h2>Previous year's lectures</h2>

<p>You can find lecture notes and videos from <a href="/2019/">last year's version of this class</a>. Each year's lectures are fully self-contained, and we recommend following the most recent version of the material (i.e. the 2020 lectures). There is slight variation in the topics covered, so we continue to host notes and videos for earlier versions of this course.</p>

{% endcomment %}

